@page
@model BusTransportationSystem.Pages.Bus.ManageVehiclesModel
@{
    Layout = "_DashLayout";
}


<main>
<br />
<br />
<br />
<br />
<h2>LOCATION SELECTION</h2>



    <form method="POST">
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="initial_destination">Initial Destination</label>
            <div class="col-sm-6">
                <select class="form-control" id="initial_destination" name="initial_destination">
                    @foreach (var initDest in Model.InitialDestinations)
                    {
                        <option value="@initDest">@initDest</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label" for="final_destination">Final Destination</label>
            <div class="col-sm-6">
                <select class="form-control" id="final_destination" name="final_destination">
                    @foreach (var finalDest in Model.FinalDestinations)
                    {
                        <option value="@finalDest">@finalDest</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-4 d-grid">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    </form>




    <table class="table">
        <thead>
            <tr>
                <th>Driver Name</th>
                <th>Initial Destination</th>
                <th>Final Destination</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trip in Model.DisplayedData)
            {
                <tr>
                    <td>@trip.DriverName</td>
                    <td>@trip.InitialDestination</td>
                    <td>@trip.FinalDestination</td>
                    <td>@trip.Price</td>
                </tr>
            }
        </tbody>
    </table>


