@page
@model BusTransportationSystem.Pages.Bus.ManageVehicle.CreateModel
@{
    Layout = "_AdminLayout";
}

<br />
<h2></h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="vehicleName">Vehicle Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="vehicleName" placeholder="Vehicle Name" value="@Model.newVehicle.VehicleName">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="driverId">Driver ID</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="driverId" placeholder="Driver ID" value="@Model.newVehicle.DriverId">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="vehicleTypes">Vehicle Types</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="vehicleTypes" placeholder="Vehicle Types" value="@Model.newVehicle.VehicleTypes">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" for="seats">Number of Seats</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="seats" placeholder="Number of Seats" value="@Model.newVehicle.Seats">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-4 d-grid">
            <button type="submit" class="btn btn-primary">Add Vehicle</button>
        </div>
        <div class="offset-sm-3 col-sm-4 d-grid">
            <a class="btn btn-outline-primary" href="/Bus/ManageVehicle/Index" role="button">Go back</a>
        </div>
    </div>
</form>
       